@font-face {
  font-family: "Mont";
  src: url('./assets/fonts/Mont/Mont-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "Mont";
  src: url('./assets/fonts/Mont/Mont-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Mont";
  src: url('./assets/fonts/Mont/Mont-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Minsk";
  src: url('./assets/fonts/Minsk/Minsk-regular.otf') format('opentype');
  font-weight: 400;
}

* {
  box-sizing: border-box;

  font-family: 'Mont';
  font-size: 16px;
  line-height: 20px;
  color: #636363;
  font-weight: 300;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url(./assets/images/background.png);
}